/bluemap
/blueprints
/crash-reports
/journeymap
/local
/logs
/patchouli_books
/saves
/schematics
/screenshots
/simplebackups
/world

/.curseclient
/banned-ips.json
/banned-players.json
/eula.txt
/minecraftinstance.json
/ops.json
/options.txt
/patchouli_data.json
/server.properties
/servers.dat
/servers.dat_old
/rhino.local.properties
/toggle_client.bat
/usercache.json
/usernamecache.json
/whitelist.json

/config/bluemap
/config/embeddium-fingerprint.json
/config/everycomp-hazardous.properties
/config/mc2discord.toml
/config/jei/ingredient-list-mod-sort-order.ini
/config/jei/recipe-category-sort-order.ini
/config/jei/world/
/config/libraryferret_1.properties
/config/oculus.properties
/config/sound_physics_remastered
/config/spark/tmp
/config/worldedit/.archive-unpack

*.bak

/mods/Ding*
/mods/MouseTweaks*
/mods/PresenceFootsteps*
/mods/embeddium*
/mods/farsight*
/mods/lootbeams*
/mods/oculus*
/mods/textrues_embeddium_options*