/.minecraft/.mixin.out
/.minecraft/astralsorcery
/.minecraft/BotaniaVars.dat
/.minecraft/crafttweaker.log
/.minecraft/crash-reports
/.minecraft/logs
/.minecraft/saves
/.minecraft/screenshots
/.minecraft/mountains.txt
/.minecraft/patchouli_books
/.minecraft/patchouli_data.json
/.minecraft/textures_*
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/instance.cfg
/natives
