# Configuration file

##########################################################################################################
# dirt & grass
#--------------------------------------------------------------------------------------------------------#
# Block Settings
##########################################################################################################

"dirt & grass" {
    # Set the hardness of the blocks in the mod
    D:"Standard Hardness"=0.30000001192092896

    # Set the explosion resistance of the blocks in the mod
    D:"Standard Resistance"=0.5
}


